# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
visis-backend/visis-app/.env

Testing/visis-backend/visis-app/vinsightenv
visis-app/.env/
visis-backend/visis-app/vinsightenv/


# Ignore Docker-related files (optional)
*.log
docker-compose.override.yml

# Ignore Pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore migrations (optional, based on setup)
migrations/

# Ignore IDE specific files
.vscode/
.vscode/
.idea/

