# Ignore virtual environment
/.venv

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Ignore Docker-related files (optional)
*.log
docker-compose.override.yml

# Ignore Pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore migrations (optional, based on setup)
migrations/

# Ignore IDE specific files
.vscode/
.idea/
